<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
	 xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
	<Package Name="OpenSpartan Workshop" Manufacturer="Den.Dev" Version="1.0.0.0" UpgradeCode="2e9d46f4-33fc-4625-8c17-382391347e00">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<netfx:DotNetCompatibilityCheck
			 Property="DOTNETRUNTIMECHECK"
			 RollForward="major"
			 RuntimeType="desktop"
			 Platform="x64"
			 Version="8.0.0" />

		<Launch
			 Message="Make sure that the .NET Desktop 8 Runtime is installed."
			 Condition="(DOTNETRUNTIMECHECK=0)"/>

		<!--<WixVariable Id="WixUIBannerBmp" Value="$(ImageResourcesDirectory)/logo-icon.png"/>-->

		<Icon Id="icon.ico" SourceFile="Resources\Images\OpenSpartan.Workshop.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<MediaTemplate EmbedCab="yes" />

		<Feature Id="Main" AllowAbsent="no" AllowAdvertise="no" ConfigurableDirectory="INSTALLFOLDER">
			<ComponentGroupRef Id="ApplicationFiles"/>
		</Feature>

		<ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
	</Package>
</Wix>
