<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<PackageGroup Id="Net8">
			<ExePackage InstallArguments="/q" DetectCondition="Installed" Name="windowsdesktop-runtime-8.0.2-win-x64.exe" Compressed="no" DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/84ba33d4-4407-4572-9bfa-414d26e7c67c/bb81f8c9e6c9ee1ca547396f6e71b65f/windowsdesktop-runtime-8.0.2-win-x64.exe" Permanent="yes" Id="Net8Setup">
				<ExitCode Behavior="success" Value="1638" />
			</ExePackage>
		</PackageGroup>
		<PackageGroup Id="WinApp">
			<ExePackage InstallArguments="/q" DetectCondition="Installed" Name="windowsappruntimeinstall-x64.exe" Compressed="no" DownloadUrl="https://aka.ms/windowsappsdk/1.4/latest/windowsappruntimeinstall-x64.exe" Permanent="yes" Id="AppSDK1_4">
				<ExitCode Behavior="success" Value="1638" />
			</ExePackage>
		</PackageGroup>
	</Fragment>
</Wix>
