<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="versionId" value="1.0.3" />
	<variable name="buildId" value="ESCHARUM-03052024" />
	
	<targets>
		<target name="logfile" xsi:type="File" fileName="${specialfolder:folder=LocalApplicationData}/OpenSpartan.Workshop/logs/${date:format=yyyy-MM-dd_HH}_${var:buildId}.txt" createDirs="true">
			<layout xsi:type="LayoutWithHeaderAndFooter">
				<header xsi:type="SimpleLayout" text="----------START OpenSpartan Workshop ${var:versionId}-${var:buildId}---------"/>
				<layout xsi:type="SimpleLayout" text="[${longdate}|${level:uppercase=true}|${logger}] ${message}" />
				<footer xsi:type="SimpleLayout" text="----------END OpenSpartan Workshop ${var:versionId}-${var:buildId}---------"/>
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>